body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f6f2;
  color: #388087;
}

h2.beer-name {
  color: rgb(86,74,64);
  background-color: rgb(247,236,212);
}

.beer-image {
  top: 5vh;
  height: 200px;
  width: 200px;
}

button.reused-button {
  color: rgb(86,74,64);
  background-color: rgb(247,236,212);
  height: 3rem;
  width: auto;
  font-size: 1.5rem;
  padding: 1%;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
}

input {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: auto auto;
  height: 2.5rem;
  width: 30vw;
  margin-bottom: 2%;
  background-color: transparent;
  border: 1px solid #388087;
  border-radius: 5%;
  font-size: 1.5rem;
  padding: 1%;
  outline: none;
  box-shadow: none;
}

button.new-keg-button {
  display: block;
  margin: auto auto;
  width: 25vw;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: #388087;
  color: #f6f6f2;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

button.buy-button, button.details-button {
  display: block;
  margin: auto auto;
  margin-bottom: 2%;
  width: 80%;
  min-height: 2.5rem;
  height: auto;
  font-size: 1.5rem;
  background-color: rgb(198,229,214);
  color: #388087;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

button.buy-button:hover, button.details-button:hover {
  transform: scale(1.1);
  background-color: #388087;
  color: #f6f6f2;
}

p.empty-keg {
  color: rgb(86,74,64);
  font-size: 1.5rem;
}

button.almost-gone {
  background-color: #388087;
  color: #f6f6f2;
}

button.almost-gone:hover {
  background-color: #f6f6f2;
  color: #388087;
}

button.delete-button {
  display: block;
  margin: auto auto;
  margin-bottom: 2%;
  width: auto;
  min-height: 2.5rem;
  height: auto;
  font-size: 1.5rem;
  background-color: rgb(198,229,214);
  color: #388087;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}